@font-face {
  font-family: "iconfont"; /* Project id 1634615 */
  src: url('iconfont.eot?t=1628749185016'); /* IE9 */
  src: url('iconfont.eot?t=1628749185016#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1628749185016') format('woff2'),
       url('iconfont.woff?t=1628749185016') format('woff'),
       url('iconfont.ttf?t=1628749185016') format('truetype'),
       url('iconfont.svg?t=1628749185016#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconwarn3:before {
  content: "\e652";
}

.iconcity:before {
  content: "\e650";
}

.iconrecently:before {
  content: "\e64f";
}

.iconcustomer:before {
  content: "\e64e";
}

.iconscore-star:before {
  content: "\e64d";
}

.icondiscount:before {
  content: "\e64c";
}

.icongift:before {
  content: "\e64b";
}

.iconhelp:before {
  content: "\e64a";
}

.icon00-06-1:before {
  content: "\e63e";
}

.icon12-18-1:before {
  content: "\e645";
}

.icon06-12:before {
  content: "\e646";
}

.icon18-00-1:before {
  content: "\e647";
}

.iconSuccess:before {
  content: "\e63d";
}

.iconsearchwarn:before {
  content: "\e63c";
}

.iconFrame:before {
  content: "\e60d";
}

.iconapple:before {
  content: "\e644";
}

.iconandroid:before {
  content: "\e641";
}

.iconenablednocheck:before {
  content: "\e7ae";
}

.iconadd-photo:before {
  content: "\e609";
}

.iconenabledcheck:before {
  content: "\e607";
}

.iconHistory:before {
  content: "\e605";
}

.iconFire:before {
  content: "\e606";
}

.iconDaily:before {
  content: "\e604";
}

.iconVector:before {
  content: "\e602";
}

.iconquxiao:before {
  content: "\e60a";
}

.iconkongxingxing:before {
  content: "\e6bc";
}

.iconfullStar:before {
  content: "\e601";
}

.iconinfo:before {
  content: "\e603";
}

.iconmdi_flight:before {
  content: "\e600";
}

.iconxiangshou:before {
  content: "\e63b";
}

.iconmdi_location_on:before {
  content: "\e637";
}

.iconCOVID-19:before {
  content: "\e633";
}

.iconmeal:before {
  content: "\e634";
}

.iconseat:before {
  content: "\e636";
}

.iconto_reduce:before {
  content: "\e639";
}

.iconincrease:before {
  content: "\e63a";
}

.iconagent:before {
  content: "\e61f";
}

.icongroup:before {
  content: "\e625";
}

.iconrefer-hover:before {
  content: "\e627";
}

.iconagent1:before {
  content: "\e628";
}

.iconrefer:before {
  content: "\e62a";
}

.iconwallet:before {
  content: "\e62b";
}

.iconsupport:before {
  content: "\e62c";
}

.iconwallet1:before {
  content: "\e62d";
}

.iconsupport-hover:before {
  content: "\e631";
}

.icongroup2:before {
  content: "\e632";
}

.iconpunctuality:before {
  content: "\e61c";
}

.iconbaggage:before {
  content: "\e61a";
}

.iconrexiao1:before {
  content: "\e616";
}

.iconyidaoqi1:before {
  content: "\e617";
}

.iconjiantou:before {
  content: "\e619";
}

.iconlocation:before {
  content: "\e613";
}

.iconlounge:before {
  content: "\e670";
}

.iconAirports:before {
  content: "\e671";
}

.iconPersonalinformation:before {
  content: "\e673";
}

.icontime1:before {
  content: "\e674";
}

.iconordernumber:before {
  content: "\e672";
}

.iconbianzu:before {
  content: "\e60f";
}

.iconUsed:before {
  content: "\e66f";
}

.iconexpired:before {
  content: "\e675";
}

.iconcoupon:before {
  content: "\e678";
}

.iconarrow:before {
  content: "\e695";
}

.icontishi:before {
  content: "\e635";
}

.iconjinjijiuyi:before {
  content: "\e626";
}

.iconGroupTicket:before {
  content: "\e723";
}

.iconno-result:before {
  content: "\e60c";
}

.iconsearch1:before {
  content: "\e60b";
}

.iconCanceled:before {
  content: "\e649";
}

.iconTrip_Delay:before {
  content: "\e78b";
}

.iconxiaoshi:before {
  content: "\e608";
}

.iconfangzi:before {
  content: "\e614";
}

.iconyuechi:before {
  content: "\e615";
}

.icongongjiaoyanchi:before {
  content: "\e618";
}

.iconshenfen:before {
  content: "\e61d";
}

.iconjiuhuche:before {
  content: "\e61e";
}

.iconshoucang:before {
  content: "\e621";
}

.iconzeren:before {
  content: "\e622";
}

.iconPC_order_black:before {
  content: "\e60e";
}

.iconPersonal_center:before {
  content: "\e611";
}

.iconcoustomer_service:before {
  content: "\e620";
}

.iconPrompt:before {
  content: "\e61b";
}

.iconerror:before {
  content: "\e623";
}

.iconagreed:before {
  content: "\e624";
}

.iconsearch:before {
  content: "\e629";
}

.iconhotel_white:before {
  content: "\e62e";
}

.iconplan_white:before {
  content: "\e62f";
}

.iconconfirm:before {
  content: "\e638";
}

.iconcancel_solid:before {
  content: "\e63f";
}

.iconunfold:before {
  content: "\e640";
}

.iconhistorical_cecord1:before {
  content: "\e642";
}

.icontime:before {
  content: "\e643";
}

.icontrash:before {
  content: "\e648";
}

.icona_star:before {
  content: "\e651";
}

.iconcancel_two:before {
  content: "\e684";
}

.iconSwitch:before {
  content: "\e6a2";
}

.iconcancel_solid_:before {
  content: "\e6f0";
}

.iconset_up:before {
  content: "\e71f";
}

.iconfuzhi:before {
  content: "\e77d";
}

.iconwaller:before {
  content: "\e610";
}

.iconcankao:before {
  content: "\e612";
}

.iconback:before {
  content: "\e780";
}

.iconEmergency_Accomodation:before {
  content: "\e783";
}

.iconCompassionate_Trip:before {
  content: "\e784";
}

.iconEmergency_Medical:before {
  content: "\e786";
}

.iconPersonal_Accident:before {
  content: "\e789";
}

.iconEmergency_Evacuation:before {
  content: "\e788";
}

.iconPersonal_Liability1:before {
  content: "\e78a";
}

.iconLoss_of_Checked-in:before {
  content: "\e78d";
}

.iconright_switch:before {
  content: "\e78e";
}

.iconpassport:before {
  content: "\e790";
}

.iconFinancial_aid:before {
  content: "\e791";
}

.iconaccess:before {
  content: "\e792";
}

.iconHijack_distress_allowance:before {
  content: "\e793";
}

.iconPassport_is_lost:before {
  content: "\e794";
}

.icontransport:before {
  content: "\e795";
}

.iconHospitalization_benefit:before {
  content: "\e796";
}

.iconDental_treatment:before {
  content: "\e797";
}

.icondeath_dismembered:before {
  content: "\e798";
}

.iconmissed_connection:before {
  content: "\e799";
}

.iconshipping_delay:before {
  content: "\e79a";
}

.iconpack_up:before {
  content: "\e79b";
}

.iconCatastrophe_Expenses:before {
  content: "\e79c";
}

.iconhome_Burglary_Insurance:before {
  content: "\e79d";
}

.iconprompt:before {
  content: "\e7a5";
}

.iconfenxiang:before {
  content: "\e630";
}

.iconBASIC:before {
  content: "\e657";
}

.iconELITE:before {
  content: "\e66c";
}

.iconROYAL:before {
  content: "\e66e";
}

.iconGroup12:before {
  content: "\e7aa";
}

.iconGroup13:before {
  content: "\e7ab";
}

.iconGroup14:before {
  content: "\e7ac";
}

.iconGroup15:before {
  content: "\e7ad";
}

.iconlocked-padlock:before {
  content: "\e704";
}

.iconPOPULARCITES:before {
  content: "\e711";
}

